<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/layout::head">

</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header" th:replace="user/layout::header">
		
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400" th:replace="user/layout::menu">
	</div>
	
<!-- Home -->


	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="/share-document">Trang chủ</a></li>
								<li>Tài liệu môn <span th:text="${subject.name}"></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Courses -->

	<div class="courses">
		<div class="container">
			<div class="row">

				<!-- Courses Main Content -->
				<div class="col-lg-8">
					<div class="courses_search_container">
						<form  th:action = "@{'/share-document/'+${session.subjectId}+'/'+${currPage}}" method ="post" id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start">
							<input type="text" name="documentSearch" class="courses_search_input" placeholder="Tìm kiếm tài liệu"  id="name_document" th:value="${session.search}">
							<button id="button_search" type="submit" class="courses_search_button ml-auto">Tìm kiếm</button>
						</form>
						
					</div>
					<div class="courses_container">
						<div class="row courses_row">
							
							<!-- Course -->
							<th:block th:unless="${#lists.isEmpty(listDocument)}">
								<div class="col-lg-6 course_col" th:each="document:${listDocument}">
									<div class="course">
										<div class="course_image"><img th:src="@{'http://localhost:8888/display-document?'+${document.image}}" alt=""></div>
										<div class="course_body">
											<h3 class="course_title" ><a th:href="'/share-document/document/'+${document.id}" th:text="${document.name}"></a></h3>
											<div class="course_teacher" th:text="${document.usernameUser}"></div>
											
										</div>
										<div class="course_footer">
											<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
												<div class="course_info">
													<i class="fa fa-download" aria-hidden="true"></i>
													<span th:text="${document.numberOfDownload}"></span>
												</div>
												<div class="course_info">
													<i class="fa fa-star" aria-hidden="true"></i>
													<span th:text="${document.rate}"></span>
												</div>
												<div style="margin-left:100px">
													<a th:href="@{'/document/download/'+${document.id}}" class="btn btn-primary" id="button_download">Down load</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
							
						</div>
						<div class="row pagination_row">
							<div class="col">
								<div class="pagination_container d-flex flex-row align-items-center justify-content-start">
									<ul class="pagination_list"> 				
						 				 <li th:each="page:${numberPage}" th:classappend="${page == currPage ? 'active':''}">
											<a th:href="@{'/share-document/'+${session.subjectId}+'/'+${page}}" th:text="${page}"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Courses Sidebar -->
				<div class="col-lg-4">
					<div class="sidebar">

						<!-- Categories -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Môn học</div>
							<div class="sidebar_categories">
								<ul>
									<li><a href="/share-document/1/1">Toán học</a></li>
									<li><a href="/share-document/2/1">Hóa học</a></li>
									<li><a href="/share-document/3/1">Vật lí</a></li>
				
								</ul>
							</div>
						</div>

						<!-- Latest Course -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Tài liệu down nhiều nhất</div>
							<div class="sidebar_latest">
								<th:block th:unless="${#lists.isEmpty(top3Download)}">
								<!-- Latest Course -->
									<div class="latest d-flex flex-row align-items-start justify-content-start" th:each="document:${top3Download}">
										<div class="latest_image"><div><img th:src="@{'http://localhost:8888/display-document?'+${document.image}}" alt=""></div></div>
										<div class="latest_content">
											<div class="latest_title"><a  th:href="'/share-document/document/'+${document.id}" th:text="${document.name}"></a></div>
											<div class="latest_price">Số lượt tải: <span  th:text="${document.numberOfDownload}"></span></div>
										</div>
									</div>
								</th:block>
							</div>
						</div>

						<!-- Gallery -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Hình ảnh</div>
							<div class="sidebar_gallery">
								<ul class="gallery_items d-flex flex-row align-items-start justify-content-between flex-wrap">
									<li class="gallery_item">
										<div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
										<a class="colorbox" th:href="@{/user/images/gallery_1_large.jpg}">
											<img th:src="@{/user/images/gallery_1.jpg}" alt="">
										</a>
									</li>
									<li class="gallery_item">
										<div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
										<a class="colorbox"th:href="@{/user/images/gallery_2_large.jpg}">
											<img th:src="@{/user/images/gallery_2.jpg}" alt="">
										</a>
									</li>
									<li class="gallery_item">
										<div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
										<a class="colorbox" th:href="@{/user/images/gallery_3_large.jpg}">
											<img th:src="@{/user/images/gallery_3.jpg}" alt="">
										</a>
									</li>
									<li class="gallery_item">
										<div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
										<a class="colorbox" th:href="@{/user/images/gallery_4_large.jpg}">
											<img th:src="@{/user/images/gallery_4.jpg}" alt="">
										</a>
									</li>
									<li class="gallery_item">
										<div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
										<a class="colorbox" th:href="@{/user/images/gallery_5_large.jpg}">
											<img th:src="@{/user/images/gallery_5.jpg}" alt="">
										</a>
									</li>
									<li class="gallery_item">
										<div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
										<a class="colorbox" th:href="@{/user/images/gallery_6_large.jpg}">
											<img th:src="@{/user/images/gallery_6.jpg}" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- Tags -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Tags</div>
							<div class="sidebar_tags">
								<ul class="tags_list">
									<li><a href="/share-document/1/1">Toán học</a></li>
									<li><a href="/share-document/3/1">Vật lí</a></li>
									<li><a href="/share-document/2/1">Hóa học</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	</div>
	<!-- Footer -->

	<footer class="footer" th:replace="user/layout::footer">
	</footer>



</body>
</html>