<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/layout::head">

</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header" th:replace="user/layout::header">
		
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400" th:replace="user/layout::menu">
	</div>
	
<!-- Home -->

	<div class="home">
		<div class="home_slider_container">
			
			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" th:style="'background-image:url('+@{/user/images/home_slider_1.jpg}+')'"></div>
					<div class="home_slider_content">
						<div class="container">
>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" th:style="'background-image:url('+@{/user/images/anh-bia-facebook-ve-hoc-tap-dep-8.jpg}+')'"></div>
					<div class="home_slider_content">
						<div class="container">
							
						
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" th:style="'background-image:url('+@{/user/images/anh-bia-facebook-hot-nhat-nam-2018.png}+')'"></div>
					<div class="home_slider_content">
						<div class="container">
							
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Home Slider Nav -->

		<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
	</div>

	<!-- Features -->

	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Chào mừng bạn đến với trang web chia sẻ tài liệu GTTB</h2>
			
					</div>
				</div>
			</div>
			<div class="row features_row">
				
				<!-- Features Item -->
				<div class="col-lg-4 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon"><img th:src="@{/user/images/icon_1.png/}" alt=""></div>
						<h3 class="feature_title">Tài liệu phong phú</h3>
						<div class="feature_text"><p>Lượng tài liệu phong phú ở các môn toán, lí, hóa.</p></div>
					</div>
				</div>

				

				<!-- Features Item -->
				<div class="col-lg-4 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon"><img th:src="@{/user/images/icon_3.png}" alt=""></div>
						<h3 class="feature_title">Thi thử online</h3>
						<div class="feature_text"><p>Thử sức mình với các đề thi thử.</p></div>
					</div>
				</div>

				<!-- Features Item -->
				<div class="col-lg-4 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon"><img th:src="@{/user/images/icon_4.png}" alt=""></div>
						<h3 class="feature_title">Hướng đến cộng đồng</h3>
						<div class="feature_text"><p>Mong muốn giúp ích được các bạn học sinh</p></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Popular Courses -->

	<div class="courses">
		<div class="section_background parallax-window" data-parallax="scroll" th:data-image-src="@{/user/images/courses_background.jpg}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Tài liệu hot</h2>
						<div class="section_subtitle"><p>Đây là tài liệu được tải nhiều nhất</p></div>
					</div>
				</div>
			</div>
			
			<div class="row courses_row">
				<th:block th:unless="${#lists.isEmpty(topDocuments)}">
					<!-- Course -->
					<div class="col-lg-4 course_col" th:each="document:${topDocuments}">
						<div class="course">
							<div class="course_image"><img th:src="@{'http://localhost:8888/display?'+${document.image}}" alt=""></div>
							<div class="course_body">
								<h3 class="course_title"><a href=""></a></h3>
								<div class="course_teacher"><span>Tên tài liệu:</span><span th:text="${document.name}"></span></div>
								<div class="course_text"><span>Người đăng:</span><span th:text="${document.usernameUser}"></span></div>
							</div>
							<div class="course_footer">
								<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
									<div class="course_info">
										<i class="fa fa-download" aria-hidden="true"></i>
										<span th:text="${document.numberOfDownload}"></span>
									</div>
									<div class="course_info">
										<i class="fa fa-star" aria-hidden="true"></i>
										<span th:text="${document.rate}"></span>
									</div>
									<div style="margin-left:100px">
										<a th:href="@{'/document/download/'+${document.id}}" class="btn btn-primary" id="button_download">Down load</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block>

				
			<div class="row">
				<div class="col">
					
				</div>
			</div>
		</div>
	</div>

	<!-- Counter -->

	<div class="counter" >
		<div class="counter_background" th:style="'background-image:url('+@{/user/images/counter_background.jpg}+')'"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="counter_content">
						<h2 class="counter_title">Đến với chúng tôi</h2>
						<div class="counter_text"><p>Bạn sẽ được cung cấp kho tài liệu hữu ích và những đề thi thử chất lượng</p></div>

						<!-- Milestones -->

						<div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

							<!-- Milestone -->
							<div class="milestone">
								<div class="milestone_counter" th:data-end-value="${totalUser}">0</div>
								<div class="milestone_text">Người dùng</div>
							</div>

							<!-- Milestone -->
							<div class="milestone">
								<div class="milestone_counter" th:data-end-value="${totalDocument}" >0</div>
								<div class="milestone_text">Tài liệu</div>
							</div>

							<!-- Milestone -->
							<div class="milestone">
								<div class="milestone_counter" th:data-end-value="${totalExam}" >0</div>
								<div class="milestone_text">Lượt download</div>
							</div>

							<!-- Milestone -->
							<div class="milestone">
								<div class="milestone_counter" th:data-end-value="${totalExam}">0</div>
								<div class="milestone_text">Đề thi</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<div class="counter_form">
				<div class="row fill_height">
					<div class="col fill_height">
						<form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
							<div class="counter_form_title">Thư góp ý</div>
							<input type="text" class="counter_input" placeholder="Tên của bạn:" required="required">
							<input type="tel" class="counter_input" placeholder="Email:" required="required">
							<textarea class="counter_input counter_text_input" placeholder="Góp ý:" required="required"></textarea>
							<button type="submit" class="counter_form_button">Gửi ý kiến</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

	
	<!-- Footer -->

	<footer class="footer" th:replace="user/layout::footer">
	</footer>
</div>
</div>

</body>
</html>